@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* font-family: 'Shadows Into Light', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
/* font-family: 'Smooch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url(../assets/multimedia/blackfond.png);
    background-size: cover;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hijo1{
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

.hijo1 ul{
    display: flex;
    flex-direction: column;
}

.hijo1 ul li a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.hijo2{
    font-family: 'Shadows Into Light', cursive;
    color: rgba(171, 155, 12, 0.836);
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}

.hijo3{
    text-align: center;
    margin-bottom: 200px;
    font-family:'Smooch', cursive;
    color: rgba(234, 234, 140, 0.678);
    font-size: 15px;
    letter-spacing: 5px;
}


footer{
    background-color: rgb(123, 126, 55);
    min-height:10px ;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
.icons a{
    color: white;
    padding: 5px;
}

@media only screen and (min-width:500px){
    .hijo1 ul{
        display: flex;
        flex-direction: row;
    }

    .hijo1{
        margin: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }

    .hijo2{
        font-family: 'Shadows Into Light', cursive;
        color: rgba(171, 155, 12, 0.836);
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }

    .hijo3{
        text-align: center;
        margin-bottom: 200px;
        font-family:'Smooch', cursive;
        color: rgba(234, 234, 140, 0.678);
        font-size: 30px;
        letter-spacing: 5px;
    }

    footer{
        background-color: rgb(123, 126, 55);
        min-height:20px ;
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 20px;
    }
}

.general_title--galeria{
    background-color:  rgba(171, 155, 12, 0.516);;
    border: solid #000 3px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family:'Abel', sans-serif;
    color: #000;
    position: fixed;
    top: 10px;
    right: 10px;
}


.galeria{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.multimedia{
    border: 2px #000 solid;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.multimedia:hover{
    transform: scale(1.05);
    transition: all 0.8s;
    box-shadow: 2px 2px 5px #333;
    filter: sepia(100%);
}

.img1{

    background-image: url(../assets/multimedia/ansiedad1.jpg);
    background-size: cover;
}
.img2{
    background-image: url(../assets/multimedia/ansiedad2.jpg);
    background-size: cover;
}
.img3{
    background-image: url(../assets/multimedia/ansiedad3.jpg);
    background-size: cover;
}
.img4{
    background-image: url(../assets/multimedia/ansiedad4.jpg);
    background-size: cover;
}
.img5{
    background-image: url(../assets/multimedia/ansiedad5.jpg);
    background-size: cover;
}
.img6{
    background-image: url(../assets/multimedia/ansiedad6.png);
    background-size: cover;
}
.img7{
    background-image: url(../assets/multimedia/ansiedad7.jpg);
    background-size: cover;
}
.img8{
    background-image: url(../assets/multimedia/ansiedad8.jpg);
    background-size: cover;
}
.img9{
    background-image: url(../assets/multimedia/ansiedad9.jpg);
    background-size: cover;
}
.img10{
    background-image: url(../assets/multimedia/ansiedad11.jpg);
    background-size: cover;
}
.img11{
    background-image: url(../assets/multimedia/ansiedad12.jpg);
    background-size: cover;
}
.img12{
    background-image: url(../assets/multimedia/ansiedad13.jpg);
    background-size: cover;
}
.subir{
    position: fixed;
    right: 40px;
    bottom: 20px;
    font-size: 20px;
    }
.subir a{
    color: black;
    text-shadow: white 2px 2px 10px;
}

@media only screen and (min-width: 480px){
    .general_title--galeria{
        background-color:  rgba(171, 155, 12, 0.516);;
        border: solid #000 3px;
        padding-top: 15px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 30px;
        font-family:'Abel', sans-serif;
        color: #000;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    footer{
        background-color: rgb(123, 126, 55);
        min-height:20px ;
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 20px;
    }
    .subir{
        position: fixed;
        right: 40px;
        bottom: 20px;
        font-size: 30px;
        }

}

@media only screen and (min-width: 480px){

    .galeria{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }
}

@media only screen and (min-width: 481px){

    .general_title--galeria{
        background-color:  rgba(171, 155, 12, 0.42);;
        border: solid #000 3px;
        padding-top: 15px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 15px;
        margin-top: 10px;
        margin-right: 5px;
        font-size: 40px;
        font-family:'Abel', sans-serif;
        color: #000;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .galeria{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }
    .img1{
        grid-column: 1/3;
        background-image: url(../assets/multimedia/ansiedad1.jpg);
        background-size: cover;
    }
    .img10{
        grid-column: 2/4;
        background-image: url(../assets/multimedia/ansiedad11.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .img11{
    grid-column: 1/3;
    background-image: url(../assets/multimedia/ansiedad12.jpg);
    background-size: contain;
}
footer{
    background-color: rgb(123, 126, 55);
    min-height:20px ;
    width: 100%;
    text-align: center;
    padding: 5px;
}
}
